@mixin link-colors($r, $g, $b) {
  color: rgb($r, $g, $b);
  &:hover, &:visited, &:active{
    color: rgba($r, $g, $b, 0.8);
  }
}
/* header */
header {
  width: 100%;
  height: 64px;
  background-color: #fff;
  a.title {
    line-height: 64px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 31px;
    @include link-colors(0, 149, 226);
  }
  div.manager-box {
    margin-right: 21px;
    line-height: 64px;
    font-size: 16px;
    a {
      @include link-colors(85, 85, 85);
    }
    a.manager {
      padding: 5px 10px;
      border-right: 2px solid #bbb;
    }
    a.sign-out {
      padding: 5px 10px;
    }
  }
}

/* container */
div.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* nav */
nav.main-nav {
  float: left;
  width: 13.5%;
  padding-top: 15px;
  a {
    display: block;
    line-height: 55px;
    padding-left: 18%;
    font-size: 16px;
    span {
      margin-right: 8px;
    }
    &.klass-manage {
      @include link-colors(0, 149, 226);
    }
    &.school {
      @include link-colors(229, 28, 35);
    }
    &.home, &.sale-data, &.order-manage, &.sale-manage, &.product-info, &.seller-manage {
      @include link-colors(16, 16, 16);
    }
  }
  span.split-line {
    display: block;
    width: 70%;
    margin: 10px auto;
    border-bottom: 1px solid #ddd;
  }
}

/* main-data */
div.main-data-box {
  float: left;
  width: 78%;
  margin: 40px 0px 100px 40px;
  background-color: #fff;
  span.menu-box {
    display: block;
    width: 100%;
    margin: 8px 0px;
    a.return-college {
      float: left;
      line-height: 40px;
      margin-left: 30px;
      font-size: 20px;
      span {
        vertical-align: middle;
      }
    }
    button.subject-setting {
      float: right;
      line-height: 40px;
      padding: 0px 10px;
      margin-right: 20px;
      border: 1px solid #0095e2;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      color: #0095e2;
      background-color: #fff;
      &:hover {
        color: rgba(0, 149, 226, .8);
      }
    }
    div.show-problem-box {
      float: right;
      line-height: 40px;
      margin-right: 30px;
      font-size: 16px;
      span.show-problem {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 21px;
        vertical-align: middle;
        border-radius: 30px;
        cursor: pointer;
      }
    }
  }

  div.klass-detail-box {
    padding: 0px 30px 30px 15px;
    table {
      th, td {
        border-width: 0px;
        line-height: 30px;
        text-align: center;
      }
      tr {
        cursor: pointer;
        font-size: 18px;
      }
      tr:nth-child(1) {
        cursor: auto;
      }
      tr td:nth-child(4) {
        font-weight: 600;
      }
      td.contact {
        color: #101010;
      }
      td.statistics {
        color: #1aaba8;
      }
      td.ordered {
        color: #0095e2;
      }
      td.problem {
        color: #e51c23;
      }
      td.difficult {
        color: #999;
      }
    }
    div.paginator-box {
      float: right;
      margin-top: 10px;
      div.total-item-box, ul.pagination, div.current-page, div.goto-page {
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
      }
      div.total-item-box, div.current-page, div.goto-page {
        font-size: 12px;
        margin: 0px 5px;
      }
      input.goto {
        width: 40px;
        height: 25px;
        text-align: center;
      }
      ul.pagination {
        margin: 0;
      }
    }
  }
}